.new{
    width:1500px;
    height:1000px;
    
    font-size:30px;
}

.new{
    width:1500px;
    height:1000px;
    
    font-size:30px;
}


/* certificate.module.css */

.studentTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .studentTable th,
  .studentTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .studentTable th {
    background-color: #f2f2f2;
  }
  